/**
 * Theme Name:     w3css Base
 * Theme URI:      https://zukunft-natur.net
 * Description:    A theme with base responsive CSS v4 from w3schools.com (w3css)
 * Author:         Torsten Brieskorn
 * Author URI:     http://www.bitkorn.de
 * Text Domain:    w3css-base
 * Version:        0.0.2
 */
/*
 * https://calcolor.co/721c50
 */
$color-brand: #11cc44;
$color-brand-discreet: #e698c7;
$color-brand-complement: #1c723e;
$color-brand-complement-discreet: #77aa8b;
$color-brand-black: #0e0008; // 200014

$color-logo-gray: #888B91;
$color-logo-gray-light: #C2C3C4;

$color-black: #0d0d0d;
$color-white: #dfddde;
$color-gray: #999999;
$color-gray-light: #cccccc;
$color-gray-cool: #97a69d;
$color-gray-greenish: #82b195; // 82b195
$color-gray-greenish-light: #c0d8ca;
$color-gray-dark: #444;

$padding-block: 4px;
$padding-block-inline: 4px 8px;
$padding-input: 4px;
$border-color-input: $color-gray;
$color-hover: $color-black;
$color-bg-hover: $color-gray-light;

$color-facebook: #3B5998;
$color-linkedin: #0077B5;
//@font-face {
//  font-family: 'Ubuntu';
//  font-style: normal;
//  src: url('font/ubuntu-font-family/Ubuntu-R.ttf');
//}
//@font-face {
//  font-family: 'Ubuntu Mono';
//  font-style: normal;
//  src: url('font/ubuntu-font-family/UbuntuMono-R.ttf');
//}
* {
  font-family: Ubuntu, Helvetica, courier new, Arial, sans-serif;
}

html, body {
  font-size: 15px;
  //background-color: $color-logo-gray; // Customizer
}

#content {
  padding: 12px 0;
  //color: $color-black; // Customizer
}

section#content-section {
  line-height: 1.5 !important;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

a {
  text-decoration: none;
}

button {
  // remove ghost border in Google Chrome
  outline: none;
}

header#page_header {
  z-index: 2 !important;
}

header.page-header {
  border-bottom: 1px solid $color-brand;
}

header.page-header, .page-header-topping, footer.page-footer {
  //background-color: $color-gray-dark; // Customizer
  //color: $color-white; // Customizer
}

@media (min-width: 601px) {
  .page-header-logo {
    height: 92px;
  }
}

@media (max-width: 600px) {
  .page-header-logo {
    height: 42px;
  }
}

.page-header-topping {
  padding-bottom: 8px;
}

.page-header-logo-text {
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-decoration: underline;
}

.slide-container {
  border-bottom: 3px solid $color-brand;
}

footer.page-footer {
  min-height: 420px;
  width: 100%;
  border-top: 3px solid $color-brand;
}

#privacy-banner {
  font-size: 1.3em;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #c0be27;
}

#privacy-banner p {
  padding: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.gas-brand {
  background-color: $color-brand;
  color: $color-white;
  font-weight: bold;
}

.gas-secondary {
  //background-color: $color-brand;
  //color: $color-white;
  //font-weight: bold;
}

.gas-text-brand {
  color: $color-brand;
}

.gas-brand-discreet {
  border-bottom: 2px solid $color-brand;
  color: $color-black;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 4px;
}

.gas-h {
  border-bottom: 2px solid $color-brand;
  color: $color-black;
  padding-left: 4px;
  letter-spacing: 0.05em;
}

.gas-h-s {
  color: $color-black;
  letter-spacing: 0.05em;
}

//
.gas-search-button {
  // Ausgleich fuer input border (alles auf einer Linie)
  border-bottom: 1px solid $color-brand;
}

/* Menue ############################################################ */
//.bkw3s-menu-item-1:hover {
//  background-color: $color-brand-discreet !important;
//}
#menu-topmenu a.w3-bar-item, button.bkw3s-menu-item-1 {
  padding: 14px 16px 12px 16px;
  font-weight: bold;
}

// 1. Ebene
.bkw3s-menu-item-1 {
}

.bkw3s-menu-item-inner {
  font-weight: normal !important;
}

a.gas-jumbo, .gas-jumbo-h {
  color: $color-black;
  text-decoration: none;
}

.w3-dropdown-c-inner {
  margin-top: 1px;
  width: 100%;
  display: block;
  background-color: $color-white !important;
  border-left: 1px solid $color-gray;
  box-shadow: 2px 2px 3px $color-gray;
}

// Jumbo Nav
.gas-jumbo-content {
}

.gas-jumbo-h {
  font-weight: bold !important;
  font-size: 1.2em;
  margin: 6px 0;
}

a.gas-jumbo {
  display: block;
  letter-spacing: 0.1em;
  font-weight: normal;
  padding: $padding-block;
}

a.gas-jumbo:hover {
  color: $color-hover;
  background-color: $color-bg-hover;
}

.gas-jumbo-block {
  width: 320px;
  float: left;
  display: inline-block;
}

@media (max-width: 600px) {
  .w3-dropdown-c-inner {
    border-left: none;
  }

  .gas-jumbo-block {
    width: 100%;
    margin: 0 auto;
  }
}

// WP
a.more-link {
  display: block;
}

article.post {
  margin: 27px 0;
}

// social
.color-facebook {
  color: $color-facebook;
}

.color-linkedin {
  color: $color-linkedin;
}

// CF7
.wpcf7-submit {
  border: none;
  display: inline-block;
  padding: 4px 8px; // $padding-block-inline
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  // GAS brand
  background-color: $color-brand;
  color: $color-white;
  font-weight: bold;
}

.cf7-form {
  width: 400px;
}

//
#overlay_menu {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
